# CMake specific
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
CMakePresets.json

# CMake generated build directories
build/
build-*/

# generated solutions
output/